body {
    background: #fff;
    font-family: "Arial";
    font-size: 10px;
    color: #fff;
}
.container {
    width:960px;
    margin: 0 auto;
    background: #6f5499;
    padding: 10px;
    min-height: 500px;
}

.form-container {
    width:90%;
    padding: 0; margin: 0;
}
.row {
    clear: both;
    padding: 3px 0;
}
.col-3 {
    width: 250px;
    padding: 4px;
}
.col-9 {
    padding:4px;
}
.btn {
    background: #CF4647;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 120px;
    line-height: 60px;
    margin: 12px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.btn:hover {
    opacity: 0.75;
}
table {  width: 90%;
    margin: 0 10px;
}
.frm-input {
    width: 100%;
    padding: 3px 0;
    color: #444;
    font-size: 11px;
}
.hide {
    visibility: hidden;
    display: none;
}
.show {
    visibility: visible;
    display: block;
}
